<h1 style=" text-align: center; ">
    SKILL
</h1>
<div align="center">
    <ul class="ulbody" >
            <li  >
                    Java
            </li>
            <li >
                    C Language
            </li>
            <li>
                    C++
            </li>
            <li>
                    C#
            </li>
            <li>
                    Objective-C
            </li>
            <li>
                    PHP
            </li>
            <li>
                    Python
            </li>
            <li>
                    JavaScript
            </li>
    </ul>
</div>