<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
            .menuul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }

            .menuul  li {
                float: left;
            }

            .menuul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            /* Change the link color to #111 (black) on hover */
            .menuul li a:hover {
                background-color: #111;
                
            }

            .ulbody {
                width: 20%;
                margin: auto;
                text-align: left;
                font-size: 20px
            }

            .ulbodyli,  li {
                float:none;
            }

          

    </style>
    
        <ul class="menuul">
            <li class="menuli"><a href="/">about me</a></li>
            <li class="menuli"><a href="/Skill">Skill</a></li>
            <li class="menuli"><a href="/Contact">Contact Me</a></li>
            <li class="menuli"><a href="/Profile">Profile</a></li>
          </ul>
    </head>
<body>
    <%- body %>
</body>
</html>

